<h2>Flights</h2>

<% @flights.each do |flight| %>
<div id="flight-<%= flight.id %>">
  <p>Flight Number: <%= flight.number %></p>
  <ul>
    <% flight.passengers.each do |passenger| %>
    <li><%= passenger.name %></li>
    <% end %>
  </ul>
</div>
<% end %>
